@use 'variables' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $primary-black;

  &__title {
    color: $primary-blue;
    font-size: 2.5rem;
    margin: 0;
  }

  &__subtitle {
    color: $primary-light-gray;
    margin-top: .5rem;
  }

  &__market-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
}
